<div class="footer">
  <hr />
  <div class="row">
    <div class="col-lg-3">
      <ul>
        <li>
          <a href="">استارتر برای بازی سازان</a>
        </li>
        <li>
          <a href="/game-funder">استارتر برای حمایت کنندگان</a>
        </li>
        <li>
          <a href="/faq">سوالات متداول</a>
        </li>
        <li>
          <a href="">تماس با ما</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-3">
      <ul>
        <li>
          <a href="http://bazinama.com">مجله بازی‌نما</a>
        </li>
        <li>
          <a href="http://plus.bazinama.com">بازی نما +</a>
        </li>
        <li>
          <a href="http://starter.bazinama.com">بازی نما استارتر</a>
        </li>
        <li>
          <a href="http://toopkhooneh.bazinama.com">توپخونه</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-3"></div>

    <div class="col-lg-3">
      <div class="Logo">
        <img src="assets/images/BazinamaLogo.png" />
      </div>

      <div class="socialMedia">
        <img src="assets/images/aparatLogo.svg" />
        <img src="assets/images/facebookLogo.svg" />
        <a href="https://www.instagram.com/bazinama/">
          <img src="assets/images/instagramLogo.svg" />
        </a>
        <a href="https://t.me/bazinama">
          <img src="assets/images/telegramLogo.svg" />
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <p class="Yara">
      این سایت را گیمرهای باحال یاراموبایل با
      <i class="fa fa-heart"></i>
      ساخته اند.
    </p>
  </div>
