.footer {
  background-color: #03060f;
  box-sizing: border-box;
  direction: rtl;
  padding: 10px 0;
}

.row {
  display: flex;
  padding: 50px 0;
  padding-right: 60px;
}

.col-lg-3 {
  width: 20%;
  padding-right: 50px;
}


ul li a {
  font-family: "Shabnam";
  font-size: 11.8px;
  text-decoration: none;
  color: #9e9e9e !important;
  line-height: 3;
}

.Logo {
  padding-right: 50px;
}

img {
  margin: 12px;
}

.Yara {
  font-size: 8px;
  text-align: left;
  color: #bdbdbd;
  padding-left: 50px;
  padding-top: 30px;
}

.fa-heart {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  color: red;
}
