* {
  box-sizing: border-box;
}

.gamecard {
  display: inline-block;
  padding: 10px;
}

.avatar {
  height: auto;
  vertical-align: middle;
  width: 100%;
  position: relative;
}

.info {
  background: #535166;
  text-align: right;
  position: relative;
  padding: 10px 5px;
  margin-top: -10px;
}

.likes {
  position: absolute;
  top: -30px;
  right: 0px;
  padding: 0px 10px;
  padding-top: 10px;
  background-color: #ffcb05;
  color: #000;

  p {
    line-height: 0;
    margin: 0 0 10px;
    box-sizing: border-box;
  }

  hr {
    border-color: #9e9e9e;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.fa {
  font-size: inherit;
  display: inline-block;
}

.fa-heart {
  color: red;
}

.name {
  font-size: 16px;
  line-height: 30px;
  font-family: "Shabnam";
  color: #e0e0e0;
}

.progressbar {
  direction: ltr;
  height: 8px;
  padding: 0px;
  background: rgba(255, 203, 5, 0.1);
  margin-bottom: 10px;

  span {
    display: block;
    background-color: #ffcb05;
    height: 8px;
  }
}

.achieved {
  direction: rtl;
  color: #e0e0e0;
  margin-top: 15px;

  span {
    color: #bdbdbd;
    font-size: 10px;
  }

  p {
    top: 40px;
    right: 10px;
    margin-bottom: 0px;
    color: #bdbdbd;
    font-size: 12px;
    font-family: "Shabnam";
  }
}

.supported {
  color: #e0e0e0;
  text-align: left;
  margin-top: -40px;

  p {
    color: #bdbdbd;
    font-family: "Shabnam";
    font-size: 12px;
  }
}
