<div class="gamecard">
  <div class="avatar">
    <img src={{avatar}}>
  </div>
  <div class="info">
    <div class="likes"> {{ project.invest_goal.participation }}
      <i class="fa fa-heart"></i>
    </div>
    <div class="name"> {{ project.name }} </div>
    <hr>
    <div class="progressbar">
      <span [ngStyle]="{'width':project.invest_goal.achievement_percent}"></span>
    </div>
    <div class="achieved"> {{ project.invest_goal.achieved }} <span>تومان</span>
      <p>جمع آوری شده</p>
    </div>
    <div class="supported"> {{ project.invest_goal.achievement_percent }} %
        <p>حمایت شده</p>
    </div>
  </div>
</div>