.main-container {
  box-sizing: border-box;
  direction: rtl;
  width: 1170px;
  padding: 40px 15px;
  margin-right: auto;
  margin-left: auto;
  line-height: 30px;
}

.header {
  background-color: #231f43;
  direction: rtl;
  padding-right: 250px;
  padding-bottom: 20px;
  padding-top: 50px;
}

.header h1 {
  font-family: "Shabnam";
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.body p {
  font-family: "Shabnam";
  font-size: 14px;
  line-height: 30px;
  color: #212121;
}

ul li {
  font-family: "Shabnam";
  font-size: 12px;
}

.fill-button {
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to left, #ffcb05, #ffcb05, #ff8a00);
  cursor: pointer;
  line-height: 2.5;
  padding: 5px 0;
  margin: auto;
  max-width: 250px;
  text-align: center;

  a {
    font-family: "Shabnam";
    text-decoration-line: none;
    color: #0b2251;
    font-size: 14px;
    font-weight: bold;
  }
}
