.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  background-color: #231f43;
}

.header-logo {

  width: 170px;
  height: auto;
}
nav {
  margin-top: 15px;

  a {
    font-family: "Shabnam";
    color: #e0e0e0;
    font-size: 16px;
    line-height: 20px;
    padding: 0 12px;
    margin: 0 27px;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover{
    color: #ffcb05;
  }
}
 
.register_game {
  font-family: "Shabnam";
  color: #ffcb05 !important;
  padding: 14px 16px !important;
  border: solid 2px #ffcb05;
  margin: 0px 16px !important;
  font-size: 14px !important;
  line-height: 1.82;
}
