<div class="header">
  <nav>
    <a [routerLink]="['/projects']">همه پروژه ها</a>
    <a [routerLink]="['/faq']">سوالات متداول</a>
    <a [routerLink]="['/game-funders']">روند حمایت</a>
    <a (click)="openDialog()">ورود/ ثبت نام</a>
    <a class="register_game">بازی خود را ثبت کنید</a>

  </nav>
  <a [routerLink]="['/']">
    <img src="/assets/images/StarterBazinamaLogo.png" class="header-logo">
  </a>
</div>