<div class="projectList">
  <div class="container">
    <div class="sponsor">
      <h1>حامی مالی بازی ‌ها باشید!</h1>
      <p>در بین بازی ها ایده ناب یا بازی با پتانسیلی دیدید؟ با پرداخت مبلغی هرچند کوچک از آن حمایت مالی کنید.</p>
      <div class="gamecard">
        <app-gamecard *ngFor="let project of projectList" [project]="project"></app-gamecard>
      </div>
    </div>
  </div>
</div>
