.projectList {
  box-sizing: border-box;
  position: relative;
  padding-top: 28px;
  padding-bottom: 28px;
  background-image: linear-gradient(to top, #03060f, #241f43 50%);
}

.container {
  background-image: url("/assets/images/sponsorBackground.svg");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: center;
  width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.sponsor {

  h1 {
    text-align: center;
    direction: rtl;
    font-size: 40px;
    font-family: "Shabnam";
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 10px;
    color: #ffffff;
  }

  p {
    text-align: center;
    direction: rtl;
    font-size: 16px;
    line-height: 30px;
    font-family: "Shabnam";
    color: #bdbdbd;
  }
}

.gamecard {
  padding-top: 30px;
}
