* {
  box-sizing: border-box;
}

.home {
  direction: rtl;
  box-sizing: border-box;
  position: relative;
  padding-top: 28px;
  padding-bottom: 100px;
  background-image: linear-gradient(to top, #03060f, #241f43 50%);
}

.container {
  text-align: center;
  position: relative;
  width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.supportBackground {
  position: absolute;
  top: -25px;
  left: -42px;
  width: 303.5px;

}

.support {
  background-color: #535166;
  position: relative;
  margin: 56px 0;
  padding: 56px 77px;

  h1 {
    font-family: "Shabnam";
    padding-top: 48px;
    padding-right: 36px;
    padding-bottom: 24px;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    color: #ffffff;
  }

  p {
    font-family: "Shabnam";
    font-size: 18px;
    font-weight: 300;
    padding-right: 38.5px;
    padding-top: 12px;
    padding-bottom: 24px;
    width: 60%;
    line-height: 1.67;
    text-align: right;
    color: #ffffff;
  }
}

.sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: "Shabnam";
    padding-right: 36px;
    padding-bottom: 22px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    color: #ffffff;
  }

  p {
    font-family: "Shabnam";
    font-size: 16px;
    padding-right: 40px;
    padding-bottom: 24px;
    width: 60%;
    color: #bdbdbd;
  }
}

.gamescard {
  background-image: url("/assets/images/sponsorBackground.svg");
  background-size: cover;
  position: relative;
}

.gameButton {
  padding: 10px 200px;
  width: 50%;
  line-height: 1.8;
  cursor: pointer;
  background: -moz-linear-gradient(to left, #ffcb05, #ffcb05, #ff8a00);
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  margin: 64px auto;

  a {
    font-family: "Shabnam";
    text-decoration: none;
  }
}

.levels {
  padding-top: 60px;
  margin: 80px 0px;

  h3 {
    font-family: "Shabnam";
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
  }
}

.levelcards {
  text-align: center;
  display: flex;
  padding: 22px 77.5px;
}

.col-lg-4 {
  width: 33.33333333%;
  padding: 0 30px;

  h4 {
    font-family: "Shabnam";
    padding: 15px 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
  }

  p {
    font-family: "Shabnam";
    font-size: 17px;
    line-height: 1.92;
    color: #bdbdbd;
  }
}

.supportBtn {
  border: 3px solid #ffcb05;
  background: inherit;
  width: 70%;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 64px auto;
  padding: 16px 50px;

  a {
    font-family: "Shabnam";
    color: #ffcb05;
    text-decoration: none;
  }
}

.supportGame {
  background-color: #535166;
  position: relative;
  padding: 110px 0px;

  h5 {
    font-family: "Shabnam";
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    color: #ffffff;
  }
}

.shaperight {
  position: absolute;
  top: 25px;
  right: -10px;
  width: 20vw;
  max-width: 220px;
  height: auto;
}

.shapeleft {
  position: absolute;
  left: -10px;
  width: 10vw;
  height: auto;
  max-width: 110px;
  bottom: -12px;
}

.row {
  margin-top: 30px;
}

.fill-button {
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to left, #ffcb05, #ffcb05, #ff8a00);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  padding: 8px 110px;
  margin: 0px 15px;
  border: none;

  a {
    font-family: "Shabnam";
    text-decoration: none;
  }
}

.border-button {
  background: inherit;
  border: solid 2px #ffcb05;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  text-align: center;
  color: #ffcb05;
  padding: 8px 110px;
  margin: 0px 15px;
}
