<div class="home">

  <div class="container">

    <div class="support">
      <img src="assets/images/supportBackground.svg" class="supportBackground" />

      <h1>حمایت از بازی‌های ایرانی</h1>

      <p>استارتر، جامعه حمایت از بازی‌های ایرانی و بازی‌سازی ملی است. گیمرها، شرکت‌ها و تیم‌های بازی‌سازی معتبر، از طریق
        این پلتفرم، به حمایت مالی از بازی‌ها و تیم های جوان بازی ساز ایرانی می پردازند، نظرات و امتیازات خود را برای هر
        بازی ثبت می کنند، به بازی‌سازان بازخور مثبت یا منفی می‌دهند و از این طریق در جهت رشد و توسعه جامعه بازی سازی
        ایرانی گام بر می دارند. </p>

      <p>در هر سطح از توسعه بازی (از ایده تا تجاری سازی)، استارتر حامی بازی‌سازان و دریچه‌ای برای ورود به دنیای
        بازی‌سازان
        حرفه ای است. </p>

    </div>

    <div class="sponsor">
      <h2>حامی مالی بازی‌ها باشید!</h2>
      <p> در بین بازی‌ها ایده ناب یا بازی با پتانسیلی دیدید؟ با پرداخت مبلغی هرچند کوچک از آن حمایت مالی
        کنید. </p>
      <div class="gamescard">
        <app-gamecard *ngFor="let project of projectList" [project]="project"></app-gamecard>
      </div>
    </div>

    <div class="gameButton">
      <a href="/projects">مشاهده همه بازی‌ها </a>
    </div>

    <div class="levels">
      <h3>استارتر در تمام مراحل همراه شماست</h3>

      <div class="levelcards">
        <div class="col-lg-4">
          <img src="assets/images/create.svg" />
          <h4>بسازید</h4>
          <p> در هر مرحله ای از ساخت بازی که هست، حتی اگر فقط ایده ای جذاب برای بازی سازی دارید، پروژه
            خود را در استارتر، استارت بزنید. </p>
        </div>

        <div class="col-lg-4">
          <img src="assets/images/funder.svg" />
          <h4>حمایت شوید</h4>
          <p>با ورود به استارتر، به دنیای گیمرها و بازی سازان ایرانی وارد شدید. با مشاوره و همراهی تیم بازی نما، بهترین
            معرفی را از بازی خود ارائه کنید، بهترین پاداش ها را برای هر بخش قرار دهید و منتظر بهترین نتیجه و بیشترین
            حمایت
            ها باشید. </p>
        </div>

        <div class="col-lg-4">
          <img src="assets/images/launch.svg" />
          <h4>لانچ کنید</h4>
          <p> در هر مرحله ای از ساخت بازی که هست، حتی اگر فقط ایده ای جذاب برای بازی سازی دارید، پروژه
            خود را در استارتر، استارت بزنید. </p>
        </div>

      </div>

      <button class="supportBtn">
        <a href="/game-funders">مشاهده روند حمایتی </a>
      </button>

    </div>

    <div class="supportGame">
      <img src="assets/images/shaperight.svg" class="shaperight" />
      <img src="assets/images/shapeleft.svg" class="shapeleft" />
      <h5>در حمایت از بازی‌ها شریک شوید</h5>
      <div class="row">
        <button class="fill-button" [routerLink]="['/projects']">حمایت از بازی‌ها</button>
        <button class="border-button">ثبت بازی جدید</button>
      </div>
    </div>
  </div>
</div>
