.main-container {
  box-sizing: border-box;
  direction: rtl;
  width: 1170px;
  padding: 80px 15px;
  margin-right: auto;
  margin-left: auto;
  line-height: 30px;
}

.header {
  background-color: #231f43;
  direction: rtl;
  padding-right: 250px;
  padding-bottom: 20px;
  padding-top: 50px;

  h1{
    font-family: "Shabnam";
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }
}

ol li {
  font-family: "Shabnam";
  font-weight: bold;
}

.body p {
  font-family: "Shabnam";
  font-size: 14px;
  line-height: 33px;
  color: #212121;

  strong{
    font-weight: 700;
  }
}
