<div class="login-page">
  <div class="login-box">
    <a class="close-button" href="#">
      <i class="fa fa-times"></i>
    </a>
    <div *ngIf="register">
      <p class="title">ورود / ثبت‌ نام به بازی‌نما</p>
      <form class="form" [formGroup]="registerForm" (ngSubmit)="login()">
        <label class="label">شماره تلفن همراه</label>
        <br>
        <input class="input" formControlName="mobile" placeholder="09+++++++++" />
        <button class="button">دریافت کد فعالسازی</button>
      </form>
    </div>
    <div *ngIf="acceptPhone"> 
      <p class="title">ورود / ثبت نام به بازی نما</p>
      <form class="form" [formGroup]="acceptForm" (ngSubmit)="accept">
        <label class="label">کد فعال سازی</label>
        <input class="input" formControlName="verification_code" placeholder="*****" />
        <button class="button">ارسال</button>
      </form>
    </div>
  </div>
</div>
