* {
  font-family: 'shabnam';
}

.login-page {
  background: linear-gradient(#231f43, #03060f);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.login-box {
  direction: rtl;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 450px;
  background: #535166;
  box-shadow: 0px 1px 50px 0px #000000;
  margin-top: 12rem;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: #bdbdbd;
}

.fa{
  font: normal normal normal 14px/1 FontAwesome;
}

.title {
  font-size: 16px;
  line-height: 30px;
}

.form {
  padding: 20px 30px;
}

.lable {
  font-size: 12px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.input {
  font-weight: bold;
  padding: 15px;
  color: #fff;
  border: none;
  border-bottom: 3px solid #757575;
  outline: none;
  width: 100%;
  max-width: 300px;
  background: rgba(11, 34, 81, 0);
}

.button {
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to left, #ffcb05, #ffcb05, #ff8a00);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  padding: 8px 110px;
  margin: 25px 15px;
  border: none;
}
